[submodule "third_party/triton"]
	path = third_party/triton
	url = https://github.com/triton-lang/triton.git
[submodule "third_party/ascendnpu-ir"]
	path = third_party/ascendnpu-ir
	url = https://gitee.com/ascend/ascendnpu-ir.git